# Required Vars
API_HASH=2edadcc1d8e42879e1e08dea6a3f970b
API_ID=22482921
BOT_TOKEN=7144522875:AAEFGYd8mx8p3wvfpBozxW5Ea5L-XEG2y2M
DATABASE_URI=mongodb+srv://memek:memek@cluster0.xktxnyr.mongodb.net/?retryWrites=true&w=majority
LOG_CHANNEL=-1001692951846

# Optional Vars
SUDO=1784606556
DATABASE_NAME=cilikdb
SUPPORT_CHAT=CilikSupport
COMMAND_HANDLER=
USER_SESSION=BQFXD-kAVw0cxQT4u5d-RuJKe2hY0jbv-YFv3Ef13XMNHLHUSL9vaKYCH1IlwVGwt7Iq1wiqKNjY6DvYfb2VeGn8xjHpdIUALkjzUtlml1lfyFgK67gvmXUT2QP00LcwINhIoB0yrojNz3K5H9aiTzogqFveaD5nGMXLkVQXLczWe4DjLSEoYem1Ngo6o_-gap65-3CDw72EP6I5K1ei7UkbWJlnydTDs2ouN8IT2tMABsjnBeGCPsUMlQAtAA3m5lj6NKwkUBJ2HSoF24ztDx9dPu3vud3r7LTPsVgh4Gtab9Kife_nO5UF7pzsXgsByrX2UZAPnydCwiSQFD-6sOOraJDIAQAAAAFld8f2AA
OPENAI_API=
BARD_API=
CURRENCY_API=
